body{ 
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 14px; 
	line-height: 24px; 
	margin: 0 0 24px; 
	text-align: justify; 
	text-justify: inter-word; 
}
th{
	text-align:left;
}
table{
    margin:0 auto;
	margin-top:20px;
	width:256px;
}
select {
	width:256px;
}
input{
	width:256px;
}
