[Service]
ExecStart=/usr/bin/node /home/ubuntu/apps/embedded-web-connector/bin/web-connector.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=web-connector
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
